<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineStudySystem.dao.FootPrintItemMapper">
    <resultMap id="footprintMap" type="FootPrintItem">
        <result column="userId" property="userId"></result>
        <result column="papperId" property="papperId"></result>
        <result column="papperProfile" property="papperProfile"></result>
        <result column="title" property="title"></result>
        <result column="readDate" property="readDate"></result>
    </resultMap>

<!--    //添加足迹
        public void addFootPrint(FootPrintItem footPrintItem);-->
    <insert id="addFootPrint">
        insert into tb_footprint values(#{papperId},#{userId},#{papperProfile},#{readDate},#{title});
    </insert>
<!--    //删除足迹-->
<!--    public boolean deleteFootPrint(String papperId);-->
    <delete id="deleteFootPrint">
        delete from tb_footprint where papperId=#{papperId} and userId=#{userId};
    </delete>
<!--    //查询所有足迹-->
<!--    public List<FootPrintItem> queryAllFootPrint(String userId);-->
    <select id="queryAllFootPrint" resultMap="footprintMap">
        select * from tb_footprint where userId=#{userId} order by readDate desc;
    </select>

<!--    //检测是否今天存在这篇文章-->
<!--    public boolean checkIsTodayFootprint(FootPrintItem footPrintItem);-->
    <select id="checkIsTodayFootprint" resultType="boolean">
        select * from tb_footprint where userId = #{userId} and papperId=#{papperId} and  TO_DAYS(readDate)=TO_DAYS(NOW());
    </select>


</mapper>