<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
         http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">


    <context:component-scan base-package="com.onlineStudySystem.controller,com.onlineStudySystem.controller.exceptionResolver"></context:component-scan>
    <import resource="spring-aop.xml"></import>
    <mvc:annotation-driven conversion-service="conversionService"/>
    <mvc:default-servlet-handler/>
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConverter"/>
            </set>
        </property>
    </bean>
    <bean id="dateConverter" class="com.onlineStudySystem.controller.converter.DateConverter" ></bean>


    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <mvc:resources mapping="/static/images/**" location="/static/images/"/>

<!--    拦截器，如果有mapping开头的就拦截请求-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/**"/>
            <mvc:mapping path="/comment/**"/>
            <mvc:mapping path="/enshrine/**"/>
            <mvc:mapping path="/footPrint/**"/>
            <mvc:mapping path="/papper/queryManagePapperForm/**"/>
            <bean class="com.onlineStudySystem.controller.interceptor.LoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="40000000000"></property>
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="uploadTempDir" value="static/images/upload/"></property>
    </bean>
</beans>